.expo/
.expo-shared/
node_modules/
.npm-cache/
design-source/
dist/
build/
*.jks
*.p8
*.p12
*.key
credentials.json
credentials/
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.*
!.env.example
